.container {
    max-width: 900px !important;
}


.hotels-list {
    max-width: 900px;
    margin: 0 auto;
}

.hotels-list-el {
    background: #f9f9f9;
}



/*  */

.label {
    background: #495546;
    padding: .15rem .75rem;
    border-radius: 999px;
    font-size: 0.8rem;
    font-weight: 700;
    color: #ffffff;
}



/*  */

.edit-form-holder {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease, opacity .3s ease, visibility .3s ease, padding .3s ease;
}

.edit-form-holder:not(.edit-form-expanded) {
    padding: 0 !important;
}


.edit-form-expanded {
    opacity: 1 !important;
    visibility: visible;
    max-height: 500px;
}



/*  */

.img-placeholder {
    aspect-ratio: 1;
    background: #707070;
}



/*  */

.checkbox > label {
    display: block;
}

.checkbox > label > input {
    margin-right: .5rem;
}


.edit-form-holder {
    padding-top: 3rem !important;
}

.hotel-form {
    position: relative;
}

.hotel-form.form-edit:before {
    content: '';
    height: 1px;
    width: calc(100% - 1.5rem);
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    background: #222222;
}


@media (max-width: 767px) {
    .hotels-list-el {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .hotels-list-el > .row {
        gap: .75rem !important;
    }

    .hotels-list-el > .row > * {
        display: flex;
        justify-content: center;
    }

    .amenities-holder > * {
        width: 50%;
    }

    .img-placeholder {
        width: 100%;
        max-width: 15rem;
    }
}


.hidden {
    display: none;
}

.modal.show {
    display: block;
}